html {
    height: 100%;
}

body {
    background-color: #bedadbbb;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    background-color: white;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    width: 300px;
    /* Ширина поля */
    display: inline-block;

}

.input-container input {
    width: 100%;
    padding-right: 50px;
    /* Отступ справа, чтобы кнопка не перекрывала текст */
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    border-radius: ;
}

.input-container button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background-color: #4c82af;
    color: white;
    padding: 0 15px;
    cursor: pointer;
    font-size: 16px;
}

#weather-city {
    margin-bottom: 10px; /* Отступ между текстом и инпутом */
    margin-left: 50px; /* Отступ слева от инпута */
    color: #333;
    align-self: flex-start; /* Выровнять по левому краю контейнера */
}

